<mat-toolbar color="primary">
  <span>ngx-request-cache@1.0.0</span>
</mat-toolbar>

<div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-slide-toggle
      [checked]="movieService.isCacheEnabled"
      (change)="onToggleChange($event)"
    >
      Enable cache
    </mat-slide-toggle>

    <button
      *ngIf="movieService.isCacheEnabled"
      mat-button
      mat-raised-button color="primary"
      (click)="onClearCache()"
    >
      Clear cache
    </button>

  </div>

  <app-movie-list></app-movie-list>
</div>
